.cards {
    margin: 5% 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 25px;
    background-color: #f6f6f6;
    padding: 25px 20px;

    & .card {
        width: 340px;
        height: 340px;
        overflow: hidden;
        border-radius: 10px;
        margin: 25px 20px;
        box-shadow: 2px 3px 5px rgba($color: #000000, $alpha: 0.5);
        transition: 0.2s linear;

        @media screen and (max-width: 768px) {
            width: 335px;
            height: 255px;
        }

        & img {
            height: 100%;
        }
        & span {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 142.6%;
            position: relative;
            bottom: 60px;
            color: $color-primary;
            background-color: #fff;
            width: 100%;
            display: block;
            padding-left: 5px;
            box-shadow: 0px 1px 3px rgba($color: #000000, $alpha: 0.5) inset;
        }

        &:hover {
            box-shadow: 2px 3px 5px #000;
        }
    }

    @media screen and (max-width: 768px) {
        background-color: #fff;
        padding: 0;
        margin: 0;
    }
}
