.header {
    display: flex;
    justify-content: center;
    padding: 10px 5%;

    & img {
        position: relative;
        width: 100%;

        @media screen and (max-width: 768px) {
            border-radius: 25px;
        }
    }

    @media screen and (max-width: 768px) {
        width: 335px;
        height: 111px;
        padding: 10px 6%;
    }
}

.about .header {
    @media screen and (max-width: 768px) {
        width: auto;
        height: 223px;
        padding: 10px 6%;
    }
}
