.tags {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    & .tag {
        background: #ff6060;
        border-radius: 10px;
        padding: 3px 22px;
        color: white;
        margin: 10px 10px 10px 0;

        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
    }
}
