.lodging {

    & .descriptions {
        display: flex;
        flex-direction: row;

        & .cardText {
            width: 100%;
            margin-left: 5%;
            margin-right: 5%;
            flex: auto;

            @media screen and (max-width: 768px) {
                width: auto;
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    & .informations {
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        & > div:nth-child(1) {
            & h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 36px;
                line-height: 142.6%;
                color: #ff6060;
            }

            & h4 {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 142.6%;
                color: #ff6060;
            }

            @media screen and (max-width: 768px) {
                & h1 {
                    font-size: 24px;
                }
    
                & h4 {
                    font-size: 14px;
                }
            }
        }

        & > div:nth-child(2) {
            @media screen and (max-width: 768px) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: flex-end;
            }
        }
    }
}
