.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #ff6060;
    & h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 288px;
        line-height: 142.6%;
    }
    & p {
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 142.6%;
        margin-bottom: 10%;
    }
    & a {
        text-decoration: underline;
    }

    @media screen and (max-width: 768px) {
        & h1 {
            font-size: 150px;
            margin-top: 30%;
        }
        & p {
            font-style: normal;
            font-size: 24px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            margin: 0 7% 20%;
        }
        & a {
            margin-bottom: 30%;
        }
    }
}
